@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.header {
    font-size: 32px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    
}


main {
    display: flex;
    justify-content: center;
    background: url('../imagem/pexels-neosiam-601047.jpg') center;
    background-size: cover;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;;
}

.logo img {
   width: 150px;

}

.cadastro {
    background-color: rgb(231, 230, 230);
    width: 70%;
    height: 200px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 10px;
    
}

.container {
    background-color:rgb(234, 206, 248);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.container input {
    margin-bottom: 10px;
}

 input:hover{
    background-color: darkgray;
}


.botoes {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.botoes input {
    font-weight: bold;
}

.redes img {
    padding: 5px;
}